body { 
    background: #F8F9F9 !important; 
}

.container {
    margin-top:15%;
    margin-left: auto;
    margin-right: auto;
}

.custom {
    width:20%;
    margin-top: 5%;
}

.custom2 {
    width:20%;
    margin-top:2%;
}
.chosen {
    display:none;
    margin-left:auto;
    margin-right:auto;
}

.rect {
    border-radius: 2px;
    border: 3px solid white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    left: -1000px;
    opacity: 1;
    position: absolute;
    top: -1000px;
}


